.video-preview{
    width: 100%;
}
.thumbnails-row{
    margin-bottom: 12px;
    position: relative;
}
.thumbnails{
    width: 100%;
}
.timer{
    background-color: black;
    color: white;
    font-family: Roboto, Arial;
    font-weight: 500;

    position: absolute;
    right: 10px;
    bottom: 10px;

    border-radius: 2px;
    padding: 2px;
}


.profile-pic{
    width: 36px;
    height: 36px;
    object-fit:cover;
    border-radius: 18px;
}
.video-profile{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-info{
    display: inline-block;
}

.video-title{
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}


.channel-name,
.video-stats{
    color: rgb(32, 31, 31);
    font-size: 14px;
}
.channel-name{
    margin-bottom: 5px;
}

.below-thumbnail{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.main-grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 35px;

}